@"
# Ignore everything
*

# But track these files
!README.md
!1_Curve_Fitting/
1_Curve_Fitting/*
!1_Curve_Fitting/curve_fitting_template.ipynb
!1_Curve_Fitting/curve_fitting_WorkedExample.ipynb
!1_Curve_Fitting/curve_fitting.pdf
!1_Curve_Fitting/curve_fitting_solution.pdf
!.gitignore
"@ | Out-File -FilePath .gitignore -Encoding utf8 -Force