@"
# Ignore everything
*

# But track these files
!README.md
!Tutorials/
Tutorials/*
!Tutorials/1. Curve Fitting/
Tutorials/1. Curve Fitting/*
!Tutorials/1. Curve Fitting/curve_fitting_template.ipynb
!Tutorials/1. Curve Fitting/curve_fitting_WorkedExample.ipynb
!Tutorials/1. Curve Fitting/curve_fitting.pdf
!Tutorials/1. Curve Fitting/curve_fitting_solution.pdf
!.gitignore
"@ | Out-File -FilePath .gitignore -Encoding utf8